A24E5Z_1015/A24E5Z_XMLSchema.xsd

<?xml version="1.0" encoding="ITF-8"?>

<xs:schema xmlns:xs="https://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="vendeglatasType">
    <xs:complexType>
     <xs:sequence>
      <xs:element name="etterem" type="etteremTpye">
      <xs:element name="foszakacs" type="foszakacsType">
      <xs:element name="szakacs" type="szakacsType">
      <xs:element name="gyakornok" type="gyakornokType">
      <xs:element name="rendeles" type="rendelesType">
      <xs:element name="vendeg" type="vendegtype">
     </xs:sequence>
    </xs:complexType>
</xs:element>

    <xs:key name="etteremKey">
      <xs:selector xpath="etterem"/>
      <xs:field xpath="@ekod"/>
    </xs:key>

    <xs:key name="foszakacsKey">
      <xs:selector xpath="foszakacs"/>
      <xs:field xpath="@fkod"/>
    </xs:key>

    <xs:key name="szakacsKey">
      <xs:selector xpath="szakacs"/>
      <xs:field xpath="@szkod"/>
    </xs:key>

    <xs:key name="gyakornokKey">
      <xs:selector xpath="gyakornok"/>
      <xs:field xpath="@gykod"/>
    </xs:key>

    <xs:key name="rendelesKey">
      <xs:selector xpath="rendeles"/>
      <xs:field xpath="@rkod"/>
    </xs:key>

    <xs:key name="vendegKey">
      <xs:selector xpath="vendeg"/>
      <xs:field xpath="@vkod"/>
    </xs:key>

        <xs:key name="rendelesKey">
      <xs:selector xpath="rendeles"/>
      <xs:field xpath="@rkod"/>
    </xs:key>

    <xs:key name="vendegKey">
      <xs:selector xpath="vendeg"/>
      <xs:field xpath="@vkod"/>
    </xs:key>

    <xs:keyref name="foszakacsEtteremRef" refer="etteremKey">
      <xs:selector xpath="foszakacs"/>
      <xs:field xpath="@e_f"/>
    </xs:keyref>

    <xs:keyref name="szakacsEtteremRef" refer="etteremKey">
      <xs:selector xpath="szakacs"/>
      <xs:field xpath="@e_sz"/>
    </xs:keyref>

    <xs:keyref name="gyakornokEtteremRef" refer="etteremKey">
      <xs:selector xpath="gyakornok"/>
      <xs:field xpath="@e_gy"/>
    </xs:keyref>

    <xs:keyref name="rendelesEtteremRef" refer="etteremKey">
      <xs:selector xpath="rendeles"/>
      <xs:field xpath="@e_r"/>
    </xs:keyref>
  </xs:element>


<xs:complexType name="etteremType">
 <xs:sequence>
  <xs:element name="nev" type="xs:string">
  <xs:element name="cim"  type="cimTipus">
  <xs:element name="csillag" type="xs:int">
 </xs:sequence>
    <xs:attribute name="ekod" type="xs:string" use="required"/>
</xs:complexType>

<xs:simpleType name="foszakacsType">
 <xs:sequence>
  <xs:element name="nev" type="xs:string">
  <xs:element name="eletkor"  type="xs:int">
  <xs:element name="vegzettseg" type="xs:string">
 </xs:sequence>
    <xs:attribute name="fkod" type="xs:string" use="required"/>
    <xs:attribute name="e_f" type="xs:string" use="required"/>
</xs:simpleType>

<xs:simpleType name="szakacsType">
 <xs:sequence>
  <xs:element name="nev" type="xs:string">
  <xs:element name="eletkor"  type="xs:int">
  <xs:element name="vegzettseg" type="xs:string">
 </xs:sequence>
    <xs:attribute name="szkod" type="xs:string" use="required"/>
    <xs:attribute name="e_sz" type="xs:string" use="required"/>
</xs:simpleType>

<xs:complexType name="gyakornokType">
 <xs:sequence>
  <xs:element name="nev" type="xs:string">
  <xs:element name="gyakorlat"  type="xs:string">
  <xs:element name="muszak" type="muszakType">
 </xs:sequence>
    <xs:attribute name="gykod" type="xs:string" use="required"/>
    <xs:attribute name="e_gy" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="rendelesType">
 <xs:sequence>
  <xs:element name="osszeg" type="xs:int">
  <xs:element name="etel"  type="xs:string">
 </xs:sequence>
    <xs:attribute name="rkod" type="xs:string" use="required"/>
    <xs:attribute name="e_r" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="vendegtype">
 <xs:sequence>
  <xs:element name="nev" type="xs:string">
  <xs:element name="eletkor"  type="xs:int">
  <xs:element name="cim" type="cimType">
 </xs:sequence>
    <xs:attribute name="vkod" type="xs:string" use="required"/>
</xs:complexType>