A24E5Z_1008/A24E5Z_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:element name="A24E5Z_orarend">
 <xs:complexType>
  <xs:sequence>
   <xs:element name="ora" type="oraTipus" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
 </xs:complexType>
</xs:element>

<xs:complexType name="oraTipus">
  <xs:sequence>
   <xs:element name="targy" type="xs:string"/>
   <xs:element name="idopont" type="idopontTipus"/>
   <xs:element name="helyszin" type="xs:string"/>
   <xs:element name="oktato" type="xs:string"/>
   <xs:element name="szak" type="xs:string"/>
  </xs:sequence>
 <xs:attribute name="id" type="xs:int" use="required"/> 
 <xs:attribute name="tipus" type="xs:string" use="required"/>
</xs:complexType>

<xs:complexType name="idopontTipus">
 <xs:sequence>
  <xs:element name="nap" type="xs:string"/>
  <xs:element name="tol" type="xs:int"/>
  <xs:element name="ig" type="xs:int"/>
 </xs:sequence>
</xs:complexType>

<xs:element name="nap">
  <xs:simpleType>
    <xs:restriction base="xs:string">
     <xs:enumeration value="Hetfo"/>
     <xs:enumeration value="Kedd"/>
     <xs:enumeration value="Szerda"/>     
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="tol">
  <xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="8"/>
      <xs:maxInclusive value="18"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

<xs:element name="ig">
  <xs:simpleType>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="10"/>
      <xs:maxInclusive value="20"/>
    </xs:restriction>
  </xs:simpleType>
</xs:element>

</xs:schema>